aside {
  background-color: white;
  width: 200px;  
}
aside,#Ordenes{
  margin: 15px;  
}
#Ordenes{ 
  background-color: white;
  height: 400px;
  flex-grow: 1;
}

aside h5{
  margin-left: 30px;
  font-size: 15px;
  font-weight: normal;
}
aside li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 14px; 
  width: 200px;   
}

#Ordenes table{
  width:100%;
  border-collapse: collapse;  
   
}

#Ordenes th{  
  background-color: lightgray;   
  font-weight: normal;
}

.LadoIzq,.LadoDer{
  text-align: left;
  padding: 15px;
  border: 1px solid;
  
}

.LadoIzq ol{
  padding-left: 15px;
  width: 800px;
}

.LadoIzq li{  
  font-size: 14px;
  margin-top: 5px;
  list-style: none;  
}

.LadoDer{
  text-align: right;
  padding-right: 20px;  
  border: 1px solid  
}

.barraPag{
  display: flex;  
  flex-direction: row-reverse;  
}


