/* .inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 560px;
  background-color: whitesmoke;
}
.inicio p{
  margin: 30px;
} */

/* .inicio input{
  width: 350px;
  height: 50px;  
} */

/* .inicio button{
  margin: 35px;
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
} */

.inicio button:hover{
  background-color: lightgray;
  border-color: lightgray;
  color:black
}

.inicio button,input{
  border-radius: 5px;
  border-color: lightgray;
}

.inicio a{
  color: black;
}

.inicio a:hover{
  color: lightgray;
}  

#ErrorUser p{
  margin-bottom: 0px;
}

